<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bubble_admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bubble_admin.Properties.Settings>
            <setting name="apitoken" serializeAs="String">
                <value />
            </setting>
            <setting name="baseurl" serializeAs="String">
                <value />
            </setting>
            <setting name="dataurl" serializeAs="String">
                <value />
            </setting>
            <setting name="wfurl" serializeAs="String">
                <value />
            </setting>
            <setting name="thirdToken" serializeAs="String">
                <value />
            </setting>
            <setting name="stripeSecret" serializeAs="String">
                <value />
            </setting>
        </Bubble_admin.Properties.Settings>
    </userSettings>
</configuration>